.bannerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-right: 5%;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-image: url("./RecipeBorder.png");
    background-size: 100% 100%;
    min-height: 487px;
    overflow-y: auto;
    max-height: 670px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 15px;
    padding: 10px;
    flex: 1;
    max-width: 300px;
}

.banner_text {
    color: black;
    margin: 3px 0;
}

.cancelButton {
    position: absolute;
    top: 7px;
    right: 7px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.actionButtons {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: auto;
    padding-bottom: 80px;
}

.actionButton {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}