/* Slider container */
.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height:auto;
  position: relative;
  margin-left: 50px;
}

/* Slider window (visible area) */
.sliderWindow {
  width: auto;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
}

/* Slider track (moving container) */
.sliderTrack {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
  will-change: transform;
}

/* Individual slider item */
.sliderItem {
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}

.createFridge {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.inputContainer {
  width: 100%;
  padding: 5px;
}

.inputFridgeName {
  text-align: center;
}

.inputFridgeButton {
  flex: 1;
  min-width: 100px;
}