Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Jinja2==3.1.2
datetime==5.1
Werkzeug==2.3.7
PyMySQL==1.1.0
mysqlclient==2.1.1

# The 'credentials' should look something like this:
# config.py
# credentials = 'SQLALCHEMY_DATABASE_URI': 'mysql+pymysql://username:password@localhost/dbname',

