.footer {
    color: white;
    padding: 30px 0;
    margin-top: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 102, 0.5), rgba(0, 0, 0, 0.8)); 
  }

.footerLinks {
  margin: 20px 0;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  padding: 5px 10px;
}

.footerLinks a:hover {
  background-color: #444;
  border-radius: 5px;
}