.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    overflow: hidden;
    background-color: black;
}
  
.navbar li {
    float: right;
}
  
.navbar li a {
    /* font-family: "Roboto", sans-serif; */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
    color: lightgrey;
}