.container {
  width: 100%;
  height: 95vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.header {
  font-size: 24px;
  margin: 10px 0;
}

.sortSection {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
}

.fridgeWrapper {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding-left: 10%;
  padding-right: 10%;
  gap: 10px;
}

.fridgeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.fridgeDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
}

.fridgeImage {
  width: 300px;
  cursor: pointer;
}

.emptyFridgeContainer {
  flex: 2;
  background-color: #222222;
  border-radius: 20px;
  height: fit-content;
  max-height: 100px;
  align-items: center;
  display: flex;
}

.emptyFridgeMessage {
  text-align: center;
  margin: 0 auto;
  color: #777777;
}

.foodGrid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  background-color: #222222;
  border-radius: 20px;
  padding: 10px;
  height: fit-content;
  max-height: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  align-items: center;
}

.foodItem {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foodName {
  font-weight: 900;
}

.foodCategory {
  font-size: small;
  color: #aaa;
}

.userInput {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.inlineForm {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
