{% extends "base.html" %} {% block head %}
<!-- You can add extra <head> content here, like styles or scripts -->
{% endblock %} {% block body %}
<div class="content">
  <h1>{% block title %}{{ title }}{% endblock %}</h1>

  <!-- Consolidating all input fields into one form -->
  <form action="/submit" method="POST">
    <table>
      <tr>
        <th>username</th>
        <td><input type="text" name="username" /></td>
      </tr>
      <tr>
        <th>password</th>
        <td><input type="text" name="password_hash" /></td>
      </tr>
      <tr>
        <th>email</th>
        <td><input type="text" name="email" /></td>
      </tr>
      <tr>
        <button type="submit">Click to submit</button>
      </tr>
      <tr>
        <th>{%block console%}{{consoleInfo}}{%endblock%}</th>
      </tr>
    </table>
  </form>

  <!-- Actions -->
  <div><a href="">Delete</a> | <a href="">Update</a></div>
</div>
{% endblock %}
