.title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../closed_fridge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

/* .title h1, h3, p {
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.title h1 {
    margin-bottom: 5px;
    font-size: min(150px, max(80px, 10vw));
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title h3 {
    font-size: 35px;
}

.title p {
    font-size: 20px;
} */